

<div class="background pb-9" room="<%= @room.uid %>" user="<%= current_user ? current_user.uid : "anonymous" %>" join-name="<%= @join_name %>">
  <div class="container">
    <div class="row pt-9">
      <div class="col-lg-12 col-sm-12">
        <h4 class="text-left"><%= t("room.invited") %></h4>
        <h1 class="display-3 text-left mb-3 font-weight-400"><%= title(@room.name) %></h1>
        <hr class="mt-2 float-left w-25">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 mb-5">
        
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <%= yield %>
      </div>
    </div>
  </div>
</div>



